.about-container {
  padding: 80px 10%;
  background: white;
}

.about-content {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.about-image img {
 height: 330px;
  position: relative;
  object-fit: cover;
}

.about-text {
  max-width: 600px;
}

.about-text h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;

}

.about-text p {
  font-size: 16px;
  color: #444;
  line-height: 1.6;
  margin-bottom: 15px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.about-text span {
  color: #ff9800;
  font-weight: bold;
}

.btn-about {
  display: inline-block;
  background: #ff9800;
  color: white;
  padding: 10px 30px;
  border-radius: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 500;
  position: relative;
  top: 20px;
}

.btn-about:hover {
  background: #333;
}

/* 🔹 Responsive */
@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .about-image img {
    width: 220px;
    height: 220px;
  }
}
